.co-contact {
  color: #fff;
  display: flex;
  align-items: center;
  column-gap: 15px;

  &__icon {
    font-size: rem(35);
  }

  &__label {
    font-size: rem(16);
    font-weight: 200;
    margin-bottom: 5px;
  }

  &__value {
    font-size: rem(20);
  }
}
