.co-payment-methods {
  &__heading {
    font-size: rem(14);
    font-weight: 400;
    margin-bottom: 10px;
    color: $text-color;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}
