.co-product {
  * {
    font-size: 14px;
  }

  &__info {
    background-color: #fff;
    border-radius: 30px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__flag {
    float: right;
    background-color: #fe599a;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
  }

  &__image {
    height: 190px;
  }

  &__title {
    font-size: rem(18);
    margin-bottom: 15px;
  }

  &__review {
    color: #ffb600;
  }

  &__footer {
    padding: 15px;
    border-radius: 30px;
    background-color: #fff200;
    color: $text-color;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      font-size: rem(20);
    }
  }

  &__price {
    &__before {
      font-size: rem(16);
      color: #878787;
      text-decoration: line-through;
      font-weight: bold;
    }

    &__after {
      font-size: rem(18);
      font-weight: bold;
    }
  }

  &--circle {
    .co-product__info {
      background-color: transparent;

      img {
        border-radius: 50%;
        width: 270px;
        height: 270px;
        object-fit: cover;
        border: 2px solid #fff200;
        margin-bottom: 20px;
      }
    }

    .co-product__flag {
      position: absolute;
      left: 30px;
      top: 30px;
    }
  }

  @include media-breakpoint-down(xxl) {
    margin-bottom: 20px;
  }
}
