.co-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  &__title {
    font-size: rem(30);
    font-weight: bold;
    color: $text-color;


    @include media-breakpoint-down(md) {
      font-size: rem(22);
    }

    
  }

  .btn{
    @include media-breakpoint-down(md) {
      padding: 10px 12px;
      font-size: rem(12);
    }
  }
}


.co-page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 ;
  &__title {
    font-size: rem(30);
    font-weight: bold;
    color: $text-color;
  }
}


.co-page-banner{
  padding: 20px 0 ;
  &__image {
    border-radius: 20px;
    overflow: hidden;
  }
}
