.co-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  &__title {
    font-size: rem(30);
    font-weight: bold;
    color: $text-color;
  }
}
