 
html,
body {
  direction: #{$direction};
  text-align: #{$left};
  box-sizing: border-box;
  // font-family: $fontFamily;
  color: $color-dark;
  font-size: 14px;
  overflow-x: hidden;
  font-family: din;
}

body {
  overflow: hidden;
  background-color: #ffff; 

  &.light {
    background-color: #f2f4f7;
  }
}


html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
}
