.main {
  padding-bottom: 50px;
}

.best-seller {
  margin-bottom: 50px;
}

.day-offers {
  padding: 40px 0;

  @include media-breakpoint-down(xl) {
    padding: 50px 0;
    margin-bottom: 0;
  }
}

.recommendations {
  margin-bottom: 50px;
}

.recent-arrive {
  padding-bottom: 30px;
}

.best-offers {
  margin-bottom: 50px;
}

.top-overlap {
  margin-top: -210px;
  z-index: 99999;
  position: relative;
}

.bottom-overlap {
  padding-bottom: 210px;
}

.intro-bg {
  background-image: url(../../../penduline/assets/images/intro-bg.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 100px;
  background-attachment: fixed;
}

.saving-area {
  margin-bottom: 50px;
}

.blog {
  margin-bottom: 50px;
}

.partners {
  margin-bottom: 50px;

  &__list {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    overflow: hidden;
  }
}

.contacts {
  padding: 50px 0;
  background-color: $primary-color;
  margin-bottom: 50px;
}
