.btn {
  border: 1px solid $secondary-color;

  &:hover {
    color: $color-white;
  }

  &--primary {
    background: $color-white;
    color: #0c574f;
    border-color: $color-white;

    &:hover {
      background-color: $primary-color;
      color: $color-white;
      border-color: $primary-color;
    }
  }

  &--secondary {
    background: $text-color;
    color: $color-white;
    border-color: $text-color;

    &:hover {
      background-color: $color-white;
      color: $text-color;
    }
  }

  &--outline {
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;

    &:hover {
      border-color: $primary-color;
      background-color: $primary-color;
      color: $color-white;
    }
  }

  &--small {
    padding: 9.5px 10px;
  }

  &--with-icon {
    @include flex(center);
    .icon {
      margin-inline-end: 5px;
    }
  }

  &--outline--white {
    background-color: transparent;
    border-color: $color-white;
    color: $color-white;

    &:hover {
      border-color: $color-white;
      background-color: $color-white;
      color: $primary-color;
    }
  }

  &--link {
    &--primary {
      font-size: rem(14);
      font-weight: 600;
      color: $primary-color;
    }
  }

  &--link {
    font-size: rem(14);
    font-weight: 600;
    color: $primary-color;
  }
}
