.co-form {
  &-label {
    font-size: rem(14);
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
  }

  &-input {
    padding: 14px 13px;
    background-color: $color-white;
    border-radius: $main-border-radius;
    width: 100%;
    display: block;
    border: 1px solid #f2f3f5;
    outline: none;
    resize: none;

    &::placeholder {
      color: #9a9ca0;
      font-size: rem(14);
      font-weight: 400;
    }

    &:focus,
    &:hover {
      border-color: $primary-color;
    }

    &.error {
      border-color: $text-color-red;
    }
  }

  &-group {
    margin-bottom: 20px;

    &__label {
      font-size: rem(16);
      font-weight: 400;
      margin-bottom: 17px;
    }
  }

  &-checkbox {
    @include flex(center, flex-start);
    &-input {
      margin-inline-end: 10px;
      accent-color: $primary-color;
      width: 22px;
      height: 22px;
    }

    &-label {
      font-size: rem(14);
      font-weight: 400;
      cursor: pointer;
    }
  }
}
