%dropdown-arrow {
  margin-inline-end: 20px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url(../icons/down-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: calc( 100% - 10px );
  background-position-y: 50%;
  background-size: 11px;
}

.co-search {
  width: 500px;
  height: 40px;
  border-radius: 30px;
  background-color: #fff;
  padding-inline-end: 6px;
  @include flex(center);
  color: $text-color;
  margin-block: auto;
  border-radius: 500px;
  overflow: hidden;
  flex: 1;

  input {
    display: block;
    border: 0;
    outline: none;
    flex: 1;
    font-size: rem(14);

    &::placeholder {
      color: #878787;
      font-size: rem(10);
    }
  }

  select {
    border: 0;
    outline: none;
    background-color: #e0e6ef;
    height: 100%;
    width: 80px;
    text-align: center;
    font-weight: bold;
    height: 100% !important;
    border-radius: 100px 0 0 100px !important;
    @extend %dropdown-arrow;
  }

  &__button {
    width: 33px;
    height: 33px;
    background-color: #ffc220;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;

    .icon {
      font-size: rem(14);
      font-weight: bold;
    }
  }

  @include media-breakpoint-down(xl) {
    order: 5;
    flex-basis: 100%;
    margin-top: 20px;
  }
}
