.swiper-wrapper {
  position: unset;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ffffff;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  background-color: $color-white;
  opacity: 1;
}
