@import './variables';

// CONTAINER
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px,
  xxxl: 1650px,
);

// BREAKPOINTS
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px,
  xxxl: 1700px,
);

// BUTTONS
$btn-padding-y: 10px;
$btn-padding-x: 20px;
$btn-font-size: 16px;
$btn-font-weight: 700;
$btn-border-radius-sm: 30px;

$btn-padding-y-lg: 12px;
$btn-padding-x-lg: 20px;
$btn-border-radius: 30px;
$btn-border-radius-lg: 30px;

// //  FONT FAMILY
$font-family-base: $fontFamily !important;
// $spacer: 40px;
// FORM
$form-group-margin-bottom: 30px;
$input-height: 42px;

// CARD
$card-border-width: 0;
$card-border-color: transparent;

.card {
  box-shadow: $main-box-shadow;
}

// DROP DOWN
$dropdown-spacer: 1rem;
$dropdown-min-width: 15rem;
$card-border-radius: 10px;

@import '../../../node_modules/bootstrap/scss/bootstrap';
