@mixin gap($property, $value) {
  @media screen and (max-width: 767.98px) {
    #{$property}: $value - 80;
  }
  @media screen and (min-width: 768px) and (max-width: 990.98px) {
    #{$property}: $value - 50;
  }
  @media screen and (min-width: 991px) {
    #{$property}: $value;
  }
}

@mixin addIcon($name, $font-size) {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  font-size: $font-size;
  -moz-osx-font-smoothing: grayscale;
  content: $name;
}

@mixin flex($align, $justify: flex-start, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}
