.header {
  color: #fff;

  &__top {
    padding: 40px 0;
    background-color: $primary-color;

    &__container {
      @include flex(center);
      column-gap: 50px;

      .close-mobile-menu {
        display: none;
      }

      @include media-breakpoint-down(lg) {
        flex-wrap: wrap;
        .close-mobile-menu {
          display: flex !important;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 22px;
          position: absolute;
          top: 20px;
          cursor: pointer;

          .fa {
            font-size: 28px;
          }

        }
      }

      @include media-breakpoint-down(md) {
        column-gap: 10px;
        padding-top: 40px;
        justify-content: space-between;
        align-content: flex-start;
      }
    }

    &.show {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100vw;
      height: 100vh;
      padding: 40px 20px;

      .co-icon-container,
      .co-search,
      .co-language-switcher {
        width: 50% !important;
        margin-bottom: 40px !important; 
      }
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__logo {
    @include media-breakpoint-down(md) {
      width: 100%;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__nav-list {
    background-color: #f9fafc;

    &__container {
      @include flex(center);
      column-gap: 50px;

      @include media-breakpoint-down(xl) {
        flex-direction: column;
        padding: 0;
      }
    }

    &__track-order {
      height: 40px;
      border-color: #878787;
      outline-color: #878787;
      border-radius: 30px;
      padding: 0 30px;
      @extend %dropdown-arrow;
      margin-inline-end: 0;

      &:active,
      &:focus,
      &:focus-visible {
        border-color: #878787;
        outline-color: #878787;
      }

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  &__nav {
    color: $text-color;
    @include flex(center);
    margin-inline-end: auto;

    &__item {
      padding: 25px;
      height: 100%;

      &__link {
        font-size: rem(16);
        font-weight: bold;
      }

      &:hover,
      &--active {
        background-color: #e0e6ef;
      }

      @include media-breakpoint-down(lg) {
        min-width: 160px;
        padding: 20px 10px;
      }
    }

    @include media-breakpoint-down(xl) {
      width: 100%;
      overflow: auto;

      &__item {
        width: 100%;
        text-align: center;
      }
    }
  }

  &__top__mobile {
    background-color: $primary-color;
    display: none;
    @include media-breakpoint-down(lg) {
      @include flex(center, space-between);
      padding: 10px;
    }

    .open-mobile-menu {
      cursor: pointer;
      i {
        font-size: 24px;
      }
    }
  }
}
