.header {
  color: #fff;

  &__top {
    padding: 15px 0;
    background-color: $primary-color;

    &__container {
      @include flex(center, space-between);
      column-gap: 20px;
    }
  }

  &__logo {
  }

  &__nav-list {
    background-color: #f9fafc;

    &__container {
      @include flex(center);
      column-gap: 50px;
    }

    &__track-order {
      height: 35px;
      border-color: #878787;
      outline-color: #878787;
      border-radius: 30px;
      padding: 0 20px;
      @extend %dropdown-arrow;
      margin: 0 !important;
      margin-inline-start: auto !important;

      &:active,
      &:focus,
      &:focus-visible {
        border-color: #878787;
        outline-color: #878787;
      }
    }
  }

  &__nav {
    color: $text-color;
    @include flex(center);
    align-items: stretch;
    margin-inline-end: auto;

    &__item {
      height: 100%;

      &__link {
        font-size: rem(16);
        font-weight: bold;
        padding: 12px 15px;
        height: 100%;
        display: inline-flex;
        color: $secondary-color;
      }

      &:hover,
      &--active {
        background-color: #e0e6ef;
      }
    }
  }

  &__top__mobile__bar {
    background-color: $primary-color;
    display: none;
    .open-mobile-menu,
    .close-mobile-menu {
      cursor: pointer;
      i {
        font-size: 24px;
        color: #fff;
      }
    }
  }

  @include media-breakpoint-down(xl) {
    display: none;

    &__top__mobile__bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
    }
  }
}

.top-mobile-menu {
  background-color: #e8e8e8;
  height: 100vh;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  &.show {
    display: block;
  }

  @include media-breakpoint-down(xl) {
  }

  .menu-link {
    background-color: #fff;
  }
}

.dropdown-menu {
  border-radius: 10px;
}