$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-availability: "\e98d";
$icon-love: "\e98c";
$icon-cart: "\e988";
$icon-user-3: "\e989";
$icon-location-3: "\e98a";
$icon-love-fill: "\e98b";
$icon-twitter-1: "\e986";
$icon-linkedin-1: "\e987";
$icon-instagram-1: "\e979";
$icon-Property-1Tag1: "\e985";
$icon-3d: "\e900";
$icon-accept: "\e901";
$icon-add-lecture: "\e902";
$icon-add: "\e903";
$icon-add_2: "\e904";
$icon-arcticons_twitter: "\e905";
$icon-arrange: "\e906";
$icon-arrow_1: "\e907";
$icon-arrow_dropdown: "\e908";
$icon-arrow_Left: "\e909";
$icon-arrow_Right: "\e90a";
$icon-arrow-Left_2: "\e90b";
$icon-attachments: "\e90c";
$icon-bathroom: "\e90d";
$icon-bed: "\e90e";
$icon-book: "\e90f";
$icon-calender: "\e910";
$icon-camera: "\e911";
$icon-camera_2: "\e912";
$icon-cancel: "\e913";
$icon-cancel_1: "\e914";
$icon-carbon_logo-instagram: "\e915";
$icon-categories: "\e916";
$icon-chat: "\e917";
$icon-chat_2: "\e918";
$icon-check: "\e919";
$icon-check_2: "\e91a";
$icon-comment: "\e91b";
$icon-company: "\e91c";
$icon-connect: "\e91d";
$icon-consult: "\e91e";
$icon-contract-documentation: "\e91f";
$icon-contract: "\e920";
$icon-copy: "\e921";
$icon-courses: "\e922";
$icon-dark: "\e923";
$icon-training: "\e924";
$icon-direction: "\e925";
$icon-done: "\e926";
$icon-download: "\e927";
$icon-earth: "\e928";
$icon-edit: "\e929";
$icon-email: "\e92a";
$icon-emoj: "\e92b";
$icon-exit: "\e92c";
$icon-eye: "\e92d";
$icon-facebook: "\e92e";
$icon-filter: "\e92f";
$icon-flag: "\e930";
$icon-follow: "\e931";
$icon-google_map: "\e932";
$icon-GPS: "\e933";
$icon-headPhone: "\e934";
$icon-home: "\e935";
$icon-home_Active: "\e936";
$icon-id: "\e937";
$icon-Image: "\e938";
$icon-Images: "\e939";
$icon-info: "\e93a";
$icon-Info_2: "\e93b";
$icon-inprograss_projects: "\e93c";
$icon-inprograss: "\e93d";
$icon-land: "\e93e";
$icon-liberary: "\e93f";
$icon-light: "\e940";
$icon-like: "\e941";
$icon-list: "\e942";
$icon-List_2: "\e943";
$icon-live_Lectures: "\e944";
$icon-loading: "\e945";
$icon-location1: "\e946";
$icon-location_2: "\e947";
$icon-Location_3: "\e948";
$icon-logout: "\e949";
$icon-magazine: "\e94a";
$icon-map: "\e94b";
$icon-Map_2: "\e94c";
$icon-Marketplace: "\e94d";
$icon-Mecca: "\e94e";
$icon-Medals: "\e94f";
$icon-Menu: "\e950";
$icon-Mobile: "\e951";
$icon-Money: "\e952";
$icon-More: "\e953";
$icon-Mosque_2: "\e954";
$icon-New: "\e955";
$icon-Notifications: "\e956";
$icon-Offer: "\e957";
$icon-Office: "\e958";
$icon-Password: "\e959";
$icon-Path: "\e95a";
$icon-Phone: "\e95b";
$icon-Play: "\e95c";
$icon-Product: "\e95d";
$icon-Projects: "\e95e";
$icon-Proposel: "\e95f";
$icon-Questions: "\e960";
$icon-Rate: "\e961";
$icon-record: "\e962";
$icon-Reply: "\e963";
$icon-Request: "\e964";
$icon-Resend: "\e965";
$icon-Room: "\e966";
$icon-Ruled: "\e967";
$icon-satellite: "\e968";
$icon-Saudi: "\e969";
$icon-Search: "\e96a";
$icon-Seen_1: "\e96b";
$icon-Seen_2: "\e96c";
$icon-Send: "\e96d";
$icon-Setting: "\e96e";
$icon-Share: "\e96f";
$icon-Shared_office: "\e970";
$icon-Sound: "\e971";
$icon-Sound_2: "\e972";
$icon-Star: "\e973";
$icon-Star_2: "\e974";
$icon-Store: "\e975";
$icon-storehouse: "\e976";
$icon-subscription: "\e977";
$icon-Supplier: "\e978";
$icon-Tasks: "\e97a";
$icon-Time: "\e97b";
$icon-trash: "\e97c";
$icon-Update: "\e97d";
$icon-User: "\e97e";
$icon-Users: "\e97f";
$icon-Verify: "\e980";
$icon-Video_Gallery: "\e981";
$icon-Video: "\e982";
$icon-Welcome: "\e983";
$icon-Whatsapp: "\e984";

